{% extends "base_generic.html" %}
{% block title %}Chi Siamo{% endblock %}


{% load staticfiles %}

{% block scripts %}

{% endblock %}



{% block content %}

         <img src="{% static 'image/logo_unipd.png'%}" alt="logo unipd" height="128" width="128" style="padding: 5px;">
    <img src="{% static 'image/logoDM.png'%}" alt="logo math unipd" height="40%" width='40%' style="padding: 5px;">
    <h3>Chi sono:</h3>
    <p>Mi chiamo Matteo Del Pioluogo e sono un laureando in Informatica Magistrale presso l'Università degli Studi di
        Padova.</p>
    <p>Alcune aziende mi hanno intravisto durante lo StagIT 2016 svoltosi a Padova.</p>
    <p>Il mio Lavoro di tesi si concentra sui sistemi di raccomandazione applicati al mondo del lavoro. Studio quindi
        sistemi che raccomandano il lavoro più stimolante per una certa persona e suggeriscono alle aziende il candidato
        migliore per una certa posizione lavorativa.</p>
    <p>Nella mia tesi di laurea ho deciso di condurre uno studio applicato agli studenti dell'università di Padova.
        Parte dello studio sono quindi anche le Aziende che necessitano di neolaureati.</p>
    <p>I dati saranno reperiti tramite questo portale da me creato.</p>
    <p>I dati raccolti saranno utilizzati anche da altri studenti impegnati in questo campo di studi, dato che rimmarranno a disposizione dell'università</p>
    <h3>Aziende:</h3>
    <p>Nel portale è possibile creare un profilo per l'azienda e soprattutto inserire delle offerte di lavoro.</p>
    <p>Nel caso non ci fosse necessita di personale imminente sono anche interessato a reperire offerte di lavoro del
        recente passato. Sono sicuro che dalle risposte emergeranno informazioni e ipotesi di lavoro interessanti.</p>
    <p>Per avere risultati significativi ho bisogno di reperire più offerte di lavoro possibili da aziende diverse.</p>

     <a href="{% static 'guide/guida_aziende.pdf' %}" download>Guida all'uso per aziende</a>

    <h3>Studenti:</h3>
    <p>Nel portale è possibile creare un profilo personale e cercare offerte di lavoro</p>
    <p>Una volta cercate offerte di lavoro tramite una certa parola chiave, si puo decidere di segnalare un'offerta di
        lavoro considerata interessatne.</p>
    <p>Per avere risultati significativi ho bisogno di reperire piu informazioni possibili sul profilo di uno studente e
        anche le sue preferenze in fatto di offerte di lavoro</p>

    <h3>Conclusione:</h3>
    <p>Il vostro contributo non finisce qui, i dati raccolti saranno utilizzati anche da altri laureandi di Padova, i
        quali useranno i miei dati raccolti per approfondire e perfezionare i loro studi.</p>
    <p>Per questo sono qui a chiedere la Vostra collaborazione, anche nella forma del passaparola.</p>
    <p>In questa pagina ho inserito una piccola guida in formato PDF per aiutarvi ad utilizzare il portale web.</p>

    <p>Per chiarimenti o delucidazioni potete contattarmi con una E-mail o contattare il mio relatore Dott. Fabio Aiolli.</p>

    <p>Vi ringrazio anticipatamente e Vi saluto cordialmente.</p>
    <p>Matteo Del Pioluogo</p>
    <p>Email: matteo.delpioluogo@studenti.unipd.it</p>

{% endblock %}



