{% extends "base_generic.html" %}
{% block title %}Change Password{% endblock %}


{% load staticfiles %}

{% block scripts %}

<script src="{% static 'bootstrap-validator/js/validator.js' %}"></script>

<script type="text/javascript">

 $( document ).ready(function() {

     //password check
    $("input[type=password]").keyup(function(){
        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");

        if($("#newPassword").val().length >= 8){
            $("#8char").removeClass("glyphicon-remove");
            $("#8char").addClass("glyphicon-ok");
            $("#8char").css("color","#00A41E");
        }else{
            $("#8char").removeClass("glyphicon-ok");
            $("#8char").addClass("glyphicon-remove");
            $("#8char").css("color","#FF0004");
        }

        if(ucase.test($("#newPassword").val())){
            $("#ucase").removeClass("glyphicon-remove");
            $("#ucase").addClass("glyphicon-ok");
            $("#ucase").css("color","#00A41E");
        }else{
            $("#ucase").removeClass("glyphicon-ok");
            $("#ucase").addClass("glyphicon-remove");
            $("#ucase").css("color","#FF0004");
        }

        if(lcase.test($("#newPassword").val())){
            $("#lcase").removeClass("glyphicon-remove");
            $("#lcase").addClass("glyphicon-ok");
            $("#lcase").css("color","#00A41E");
        }else{
            $("#lcase").removeClass("glyphicon-ok");
            $("#lcase").addClass("glyphicon-remove");
            $("#lcase").css("color","#FF0004");
        }

        if(num.test($("#newPassword").val())){
            $("#num").removeClass("glyphicon-remove");
            $("#num").addClass("glyphicon-ok");
            $("#num").css("color","#00A41E");
        }else{
            $("#num").removeClass("glyphicon-ok");
            $("#num").addClass("glyphicon-remove");
            $("#num").css("color","#FF0004");
        }

        if($("#newPassword").val() == $("#rePassword").val() && $("#rePassword").val()!=""){
            $("#pwmatch").removeClass("glyphicon-remove");
            $("#pwmatch").addClass("glyphicon-ok");
            $("#pwmatch").css("color","#00A41E");
        }else{
            $("#pwmatch").removeClass("glyphicon-ok");
            $("#pwmatch").addClass("glyphicon-remove");
            $("#pwmatch").css("color","#FF0004");
        }
    });

    });

</script>
{% endblock %}



{% block content %}



    <div class="row">
        <div class="col-sm-12">
            <h1>Cambio Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center">Inserire la vecchia password e poi la nuova</p>
            <form method="post" id="formEdit" data-toggle="validator">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Password attuale" autocomplete="off" required>
                     </div>
                    <div class="col-sm-12 form-group">
                        <input type="password" class="form-control" data-minlength="8" name="newPassword" id="newPassword" placeholder="Nuova Password" autocomplete="off" required>
                        <div class="row">
                            <div class="col-sm-6">
                                <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 caratteri<br>
                                <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Carattere maiuscolo
                            </div>
                            <div class="col-sm-6">
                                <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Carattere minuscolo<br>
                                <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Numero
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <input type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" class="form-control" name="rePassword" data-match="#newPassword" id="rePassword" placeholder="Ripeti nuova password" autocomplete="off" required>
                        <div class="row">
                            <div class="col-sm-12">
                                <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords coincidono
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg " data-loading-text="Cambio Password..." value="Cambia Password">
                    </div>
                </div>
                {% if error  %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
                {% if result  %}
                    <div class="alert alert-success" role="alert">{{ result }}</div>
                {% endif  %}
            </form>
        </div><!--/col-sm-6-->
    </div><!--/row-->

{% endblock %}