{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Raccomadnazione{% endblock %}



{% block topcontent %}

<h2>Raccomadnazione da Cold Start</h2>
        <form id="forminvio" data-toggle="validator" method="POST" role="form">{% csrf_token %}
            <label class="alert-info">Raccomandazione per :</label>

            <h3>Score</h3>
                {% for v,k in punteggi.items %}
                   <ul>
                        <li>{{ v }} voto: {{ k }}</li>
                   </ul>
                {% endfor %}
            <h3>Studente</h3>
         <ul>
                {% for k in studente %}
                    <li>{{ k }}</li></ul>
                {% endfor %}
</ul>
            <h3>Lavori</h3>
                {% for v,k in jobs.items %}
                    <ul>
                        <li>id: {{ v }}</li>
                    {% for valore in k %}
                        <li>{{ valore }}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}

    </form>

{% endblock %}
