{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Grazie{% endblock %}

{% block scripts %}

    <link rel="stylesheet" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <script src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

{% endblock %}



{% block topcontent %}
    <div class="container">

            <h1 class="text-center" >Grazie!</h1>
            <p class="lead" >Una mail ti è stata inviata per poter aggiornare il tuo sondaggio</p>
            {% if azienda == '0' %}
                <a id="thank" href="{% url 'index' %}" class="btn btn-primary center-block">Fine</a>
            {% elif azienda == '1' %}
                <h2>il tuo codice Azienda: {{ id }}</h2>
                <a id="thank" href="{% url 'aziende' %}" class="btn btn-primary center-block">Fine</a>
            {% elif azienda == '2' %}
                <a id="thank" href="{% url 'lavori' %}" class="btn btn-primary center-block">Fine</a>
            {% elif azienda == '3' %}
                <span>Errore: {{ errore }}</span>
                <a id="thank" href="{% url 'lavori' %}" class="btn btn-primary center-block">Fine</a>
            {% endif %}
    </div>
{% endblock %}

