{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Grazie{% endblock %}

{% block scripts %}

    <link rel="stylesheet" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <script src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

{% endblock %}



{% block topcontent %}
    <div class="container">

            <h1 class="text-center" >Grazie!</h1>
            {% if azienda == '0' %}
                <a id="thank" href="{% url 'studenti' %}" class="btn btn-primary center-block">Fine</a>
            {% elif azienda == '1' %}
                <span>il tuo codice Azienda:</span>
                <a id="thank" href="{% url 'aziende' %}" class="btn btn-primary center-block">Fine</a>
            {% endif %}
    </div>
{% endblock %}

