{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Questionari{% endblock %}


{% block topcontent %}
<div class="container">
    <h2>Sondaggi Creati</h2>
    <p>elenco dei sondaggi creati:</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome (puoi vedre la preview)</th>
                <th>Descrizione</th>
                <th>Data</th>
                <th>Avvia Sondaggio(log out)</th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
                <tr>
                    <td><a href="{%  url 'preview_survey'  survey.id  %}">{{ survey.name|upper }}</a></td>
                    <td>{{ survey.note }}</td>
                    <td>{{ survey.pub_date }}</td>
                    <td><a class="btn btn-primary" href="{%  url 'make_survey'  survey.id  %}">Inizia</a>
                        <a class="btn btn-primary" href="{%  url 'result'  survey.id  %}">Risultati</a>
                        <a download href="{% url 'result_download' 'csv' survey.id %}">Esporta CSV</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if surveys.has_previous %}
                <a href="?page={{ surveys.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ surveys.number }} of {{ surveys.paginator.num_pages }}.
            </span>

            {% if surveys.has_next %}
                <a href="?page={{ surveys.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>


</div>
{% endblock %}