{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Questionari{% endblock %}


{% block topcontent %}
<div class="container">
    {% if user.account %}
        <h2>Menu</h2>
        {% if user.account.type == 0 %}
        <a class="btn btn-primary" href="{%  url 'studenti_modifica' user.account.survey.id  %}">Modifica sondaggio studente</a>
        {% elif user.account.type == 1%}
        <a class="btn btn-primary" href="{%  url 'azienda_modifica' user.account.azienda.id  %}">Modifica sondaggio azienda</a>
        {% endif %}
    {% else %}
    <h2>Sondaggi Creati</h2>
    <p>elenco dei sondaggi creati:</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome (puoi vedre la preview)</th>
                <th>Descrizione</th>
                <th>Data</th>
                <th>Avvia Sondaggio(log out)</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{%  url 'studenti'  %}">Studente</a></td>
            <td>Stage it</td>
            <td> 7 aprile </td>
            <td>
                <a class="btn btn-primary" href="{%  url 'studenti'  %}">Inizia</a>
                <a class="btn btn-primary" href="{%  url 'risultati_studenti'  %}">Risultati</a>
            </td>
        </tr>
        <tr>
            <td><a href="{%  url 'aziende'  %}">Aziende</a></td>
            <td>Stage it</td>
            <td> 7 aprile </td>
            <td>
                <a class="btn btn-primary" href="{%  url 'aziende'  %}">Inizia</a>
                <a class="btn btn-primary" href="{%  url 'risultati_aziende'  %}">Risultati</a>
            </td>
        </tr>
        <tr>
            <td><a href="{%  url 'lavori'  %}">Offerte di Lavoro</a></td>
            <td>Stage it</td>
            <td> 7 aprile </td>
            <td>
                <a class="btn btn-primary" href="{%  url 'lavori'  %}">Inizia</a>
                <a class="btn btn-primary" href="{%  url 'risultati_lavori'  %}">Risultati</a>
            </td>
        </tr>
            {% for survey in surveys %}
                <tr>
                    <td><a href="{%  url 'preview_survey'  survey.id  %}">{{ survey.name|upper }}</a></td>
                    <td>{{ survey.note }}</td>
                    <td>{{ survey.pub_date }}</td>
                    <td><a class="btn btn-primary" href="{%  url 'make_survey'  survey.id  %}">Inizia</a>
                        <a class="btn btn-primary" href="{%  url 'result'  survey.id  %}">Risultati</a>
                        <a download href="{% url 'result_download' 'csv' survey.id %}">Esporta CSV</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if surveys.has_previous %}
                <a href="?page={{ surveys.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ surveys.number }} of {{ surveys.paginator.num_pages }}.
            </span>

            {% if surveys.has_next %}
                <a href="?page={{ surveys.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
</div>
{% endblock %}