{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Questionari{% endblock %}


{% block content %}
    {% if user.account %}
        <h2>Menu</h2>
        {% if user.account.type == 0 %}
        <a class="btn btn-primary" href="{%  url 'studenti_modifica' user.account.survey.id  %}">Modifica sondaggio studente</a>
        <!--<a class="btn btn-primary" href="{%  url 'reco_per_studente' %}">Offerte lavoro consigliate </a>-->
        <a class="btn btn-primary" href="{%  url 'search_job'  %}">Cerca Lavoro</a>
        {% elif user.account.type == 1%}
            <div class="row">
                <div class="col-sm-4"> <h3>Gestisci il tuo profilo aziendale</h3>
                    <p>Aggiorna le informazioni sul tuo profilo Aziendale</p>
                    <p><a class="btn btn-primary" href="{%  url 'azienda_modifica' user.account.azienda.id  %}">Modifica sondaggio azienda</a></p>
                </div>
                <div class="col-sm-4"> <h3>Nuovo posizione lavorativa</h3>
                    <p>Inserisci una nuova posizione lavorativa. Descrivi quali competenze deve avere il candidato ideale</p>
                    <p><a class="btn btn-primary" href="{%  url 'lavori' %}">Crea Offerte di Lavoro</a></p>
                </div>
                <div class="col-sm-4"> <h3>Gestisci offerte di lavoro</h3>
                    <p>Aggiorna o semplicemente osserva le tue offerte di lavoro</p>
                    <p><a class="btn btn-primary" href="{%  url 'offerta_lavoro_azienda' user.account.azienda.id  %}">Proprie Offerte di Lavoro</a></p>
                </div>
            </div>
        {% endif %}
    {% else %}
    <h2>Sondaggi Creati</h2>
    <p>elenco dei sondaggi creati:</p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome (puoi vedre la preview)</th>
                <th>Descrizione</th>
                <th>Data</th>
                <th>Guarda Sondaggi</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><h3>Studente</h3></td>
            <td>Stage it</td>
            <td> 7 aprile </td>
            <td>
                <a class="btn btn-primary" href="{%  url 'risultati_studenti'  %}">Risultati</a>
            </td>
        </tr>
        <tr>
            <td><h3>Aziende</h3></td>
            <td>Stage it</td>
            <td> 7 aprile </td>
            <td>
                <a class="btn btn-primary" href="{%  url 'risultati_aziende'  %}">Risultati</a>
            </td>
        </tr>
        <tr>
            <td><h3>Offerte di Lavoro </h3></td>
            <td>Stage it</td>
            <td> 7 aprile </td>
            <td>
                <a class="btn btn-primary" href="{%  url 'risultati_lavori'  %}">Risultati</a>
                <a class="btn btn-primary" href="{%  url 'search_job'  %}">Cerca Lavoro</a>
            </td>
        </tr>
            {% for survey in surveys %}
                <tr>
                    <td><a href="{%  url 'preview_survey'  survey.id  %}">{{ survey.name|upper }}</a></td>
                    <td>{{ survey.note }}</td>
                    <td>{{ survey.pub_date }}</td>
                    <td><a class="btn btn-primary" href="{%  url 'make_survey'  survey.id  %}">Inizia</a>
                        <a class="btn btn-primary" href="{%  url 'result'  survey.id  %}">Risultati</a>
                        <a download href="{% url 'result_download' 'csv' survey.id %}">Esporta CSV</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if surveys.has_previous %}
                <a href="?page={{ surveys.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ surveys.number }} of {{ surveys.paginator.num_pages }}.
            </span>

            {% if surveys.has_next %}
                <a href="?page={{ surveys.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
{% endblock %}