{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Creazione Questionario{% endblock %}

{% block scripts %}

<link rel="stylesheet" href="{% static 'formbuilder-gh/vendor/css/vendor.css'%}" />
<link rel="stylesheet" href="{% static 'formbuilder-gh/dist/formbuilder.css'%}" />


<script src="{% static 'formbuilder-gh/vendor/js/vendor.js'%}"></script>
<script src="{% static 'formbuilder-gh/dist/formbuilder.js'%}"></script>

<script type="application/javascript">

    var builder;
    $(document).ready(function() {

        builder = new Formbuilder({
            selector: '#formbuilder',
            {% if jsonForm %}
            bootstrapData: {{ jsonForm|safe }}
            {% endif %}
        });

        $('#save').on('click', function(e){
           e.preventDefault();
            if($("#title_survey").val()!="" && $("#desc_survey").val()!="") {
                $("#personalizedForm").val(builder.mainView.manualSaveForm());
                console.log($("#personalizedForm").val());
                console.log("SALVA!!");
                save($("#personalizedForm").val());
            }
            else{$('#myForm').validator();}
        });

    });

    function save(input){
        var newData = {
            csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
            title_survey: $("#title_survey").val(),
            desc_survey: $("#desc_survey").val(),
            data: input
        };
        $.ajax({
          type: "POST",
          //dataType: "JSON",
          data: newData,
          success: function(data, textStatus, xhr) {
                console.log("success");
                console.log("xhr status success"+xhr.status);
                if (data) {
                    // data.redirect contains the string URL to redirect to
                    console.log("if(data)");
                    window.location.href = "{% url 'index' %}";
            }
            else {
                    // data.form contains the HTML for the replacement form
                    console.log("else redirect "+data);
                }
            },
            complete: function(xhr, textStatus) {
                 console.log("complete"+xhr.status);
            }
        });
    }
</script>

{% endblock %}

{% block topcontent %}
<div class="container">{% csrf_token %}
    <div class="row form-group">
        <form id="myForm" data-toggle="validator" role="form">
            <div class="col-md-4 form-group">
                <div class="col-md-2 form-group">
                   <label class="control-label" for="title_survey">Titolo:</label>
                </div>
                <div class="col-md-10 form-group">
                    <input type="text" id='title_survey' placeholder="Titolo Questionario" required class="form-control">
                </div>
            </div>
            <div class="col-md-6 form-group">
                <div class="col-md-2 form-group">
                   <label class="control-label" for="desc_survey">Descrizione:</label>
                </div>
                <div class="col-md-10 form-group">
                    <input type="text" id='desc_survey' placeholder="Descrizione Questionario visibile solo agli operatori" required class="form-control">
                </div>
            </div>
            <div class="col-md-2 form-group">
                <div class="form-group">
                    <button type="submit" id="save" class="btn btn-primary fb-button">Salva</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id='formbuilder'></div>
            <input type="hidden" id="personalizedForm" name="personalizedForm" />
        </div>
    </div>

</div> <!-- /container -->


{% endblock %}