{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Creazione Questionario{% endblock %}

{% block scripts %}

<link rel="stylesheet" href="{% static 'formbuilder-gh/vendor/css/vendor.css'%}" />
<link rel="stylesheet" href="{% static 'formbuilder-gh/dist/formbuilder.css'%}" />


<script src="{% static 'formbuilder-gh/vendor/js/vendor.js'%}"></script>
<script src="{% static 'formbuilder-gh/dist/formbuilder.js'%}"></script>

<script type="application/javascript">

    var builder;
    $(document).ready(function() {

        builder = new Formbuilder({
            selector: '#formbuilder',
            {% if jsonForm %}
            bootstrapData: {{ jsonForm|safe }}
            {% endif %}
        });

        $('#save').on('click', function(e){
            e.preventDefault();
            $("#personalizedForm").val(builder.mainView.manualSaveForm());
            console.log($("#personalizedForm").val());
            console.log("SALVA!!");
            save($("#personalizedForm").val());
        });

    });

    function save(input){
        var newData = {
            csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
            question_title: $("#title_survey").val(),
            data: input
        };
        $.ajax({
          type: "POST",
          //dataType: "JSON",
          data: newData,
          success: function(data, textStatus, xhr) {
                console.log("success");
                console.log("xhr status success"+xhr.status);
                if (data) {
                    // data.redirect contains the string URL to redirect to
                    console.log("if(data)");
                    window.location.href = "{% url 'index' %}";
            }
            else {
                    // data.form contains the HTML for the replacement form
                    console.log("else redirect "+data);
                }
            },
            complete: function(xhr, textStatus) {
                 console.log("complete"+xhr.status);
            }
        });
    }
</script>

{% endblock %}

{% block topcontent %}
<div class="container">{% csrf_token %}
    <div class="row">
        <div class="col-md-7">
            <div class="col-md-1">
               <label for="inputName" class="control-label">Titolo:</label>
            </div>
            <div class="col-md-11">
                <input type="text" id='title_survey' placeholder="Titolo Questionario" required class="form-control" id="usr">
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <a href="#" id="save" class="btn btn-primary fb-button">Salva</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id='formbuilder'></div>
            <input type="hidden" id="personalizedForm" name="personalizedForm" />
        </div>
    </div>

</div> <!-- /container -->


{% endblock %}