{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Test Job{% endblock %}

{% block scripts %}
<script src="{% static 'star_rating/bootstrap-rating-master/bootstrap-rating.min.js'%}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="{% static 'star_rating/bootstrap-rating-master/bootstrap-rating.css'%}" type="text/css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

{% endblock %}


{% block content %}

    <h2>Cosa Potrebbe piacerti tra questi Lavori?</h2>

    <form id="forminvio" data-toggle="validator" method="POST" role="form">{% csrf_token %}


        <button type="submit" id="salava_pref_job" class="btn btn-primary">Salva</button>


    <div class="row">
{% for value in result %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail" id=lavoro_{{ value.id }}">
    <input type="hidden" class="rating" data-filled="fa fa-star fa-3x" data-empty="fa fa-star-o fa-3x" data-fractions="1" id="lavoro_{{ value.id }}" name="lavoro_{{ value.id }}">
      <div class="caption">
        <h3>Voto</h3>

                  <ul>
                    <li>id_lavoro: {{ value.id }}</li>
                    <li>citta_lavoro: {{ value.citta_lavoro }}</li>
                    <li>lingua: {{ value.lingua }}</li>
                    <li>campo_studi: {{ value.campo_studi }}</li>
                    <li>esami: {{ value.esami }}</li>
                    <li>area_operativa: {{ value.area_operativa }}</li>
                    <li>tipo_contratto: {{ value.tipo_contratto }}</li>
                    <li>livello_cariera: {{ value.livello_cariera }}</li>
                    <li>distanza: {{ value.distanza }}</li>
         </ul>
      </div>
    </div>
  </div>
    {% endfor %}
</div>

</form>

{% endblock %}


{% block bottom %}
    <script type="text/javascript">
    var star_vet= [
        {% for s in stars %}
            {{s}},

        {% endfor %}
        ];
    {% for value in result %}

        $('#lavoro_{{ value.id }}').val(star_vet[ {{ forloop.counter}} - 1 ]);

    {% endfor %}
    </script>

{% endblock %}