{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Risultati{% endblock %}


{% block topcontent %}
<div class="container">
    <h2>Sondaggio numero</h2>
    <p>risultati:</p>
    <table  class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>note</th>
                <th>email</th>
                <th>nomenome_referente</th>
                <th>citta_sede</th>
                <th>altra</th>
            </tr>
        </thead>
        <tbody>
            {% for col in results %}
                <tr>
                    <td>{{ col.id }}</td>
                    <td>{{ col.note }}</td>
                    <td>{{ col.email }}</td>
                    <td>{{ col.nome_referente }}</td>
                    <td>{{ col.citta_sede.valore }}</td>
                    {% if col.id in risultati_aziende %}
                        <td>{{ col.citta_sede.valore }}</td>
                        {% else  %}
                        <td>null</td>
                    {% endif %}
               </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}