{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Risultati{% endblock %}


{% block topcontent %}
<div class="container">
    <h2>Sondaggio numero</h2>
    <p>risultati:</p>
    <table  class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>note</th>
                <th>email</th>
                <th>nome_referente</th>
                <th>citta_sede</th>
                <th>altre_sedi</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in result.items %}
                <tr>
                    <td>{{ value.id }}</td>
                    <td>{{ value.note }}</td>
                    <td>{{ value.email }}</td>
                    <td>{{ value.nome_referente }}</td>
                    <td>{{ value.citta_sede }}</td>
                    <td>{{ value.altra_sede }}</td>
               </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}