{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Risultati{% endblock %}

{% block scripts %}

<script src="{% static 'tabletocsv/table2CSV.js'%}"></script>


<script type="text/javascript">
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
{% if type == 0 %}
function deleteStudente(id){
    var result = confirm("Eliminare questo studente?");
    if(result) {
        var csrf_token = $("input[name$='csrfmiddlewaretoken']").val();

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        $.ajax({
            type: "POST",
            url: "#",
            data: {id: id},
            success: function (data) {
                $("#persona_"+id).hide();
                $("#msg").show();
                $("#msg").text(data.msg);
                //location.href = location.href;
            }
        });
    }
}
{% endif %}

{% if type == 1 %}
function deleteAzienda(id){
    var result = confirm("Eliminare questa azienda?");
    if(result) {
        var csrf_token = $("input[name$='csrfmiddlewaretoken']").val();

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        $.ajax({
            type: "POST",
            url: "#",
            data: {id: id},
            success: function (data) {
                $("#azienda_"+id).hide();
                $("#msg").show();
                $("#msg").text(data.msg);
                //location.href = location.href;
            }
        });
    }
}
{% endif %}

{% if type == 2 %}
function deleteLavoro(id){
    var result = confirm("Eliminare questa ofeerta di lavoro?");
    if(result) {
        var csrf_token = $("input[name$='csrfmiddlewaretoken']").val();

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            }
        });

        $.ajax({
            type: "POST",
            url: "#",
            data: {id: id},
            success: function (data) {
                $("#lavoro_"+id).hide();
                $("#msg").show();
                $("#msg").text(data.msg);
                //location.href = location.href;
            }
        });
    }
}
{% endif %}
function tableToCsv(){

    var csv = $("#tblRisultati").table2CSV({
        delivery: 'value'
    });
    window.location.href = 'data:text/csv;charset=UTF-8,' + encodeURIComponent(csv);

}

</script>



{% endblock %}


{% block topcontent %}
        <a type="buttom" id="esporta"  onclick="tableToCsv();" class="btn btn-primary">Esporta CSV</a>
        <div id="msg" style="display: none;" class="alert alert-success" role="alert"></div>
{% if type == 1 %}
    <div class="container">
        <h2>Anagrafica Aziende</h2>
        <form id="forminvio" data-toggle="validator" method="POST" role="form">{% csrf_token %}
        <table id="tblRisultati"  class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>note</th>
                    <th>email</th>
                    <th>nome_referente</th>
                    <th>citta_sede</th>
                    <th>altre_sedi</th>
                    <th>data</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in result.items %}
                    <tr id="azienda_{{ value.id }}">
                        <td><a type="submit" id="delete_azienda" value="{{value.id}}" onclick="deleteAzienda({{ value.id }});" class="btn btn-primary">Elimina</a></td>
                        <td>{{ value.id }}</td>
                        <td>{{ value.note }}</td>
                        <td>{{ value.email }}</td>
                        <td>{{ value.nome_referente }}</td>
                        <td>{{ value.citta_sede }}</td>
                        <td>{{ value.altra_sede }}</td>
                        <td>{{ value.data }}</td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
{% endif %}


{% if type == 2 %}
        <h2>Offerta di Lavoro</h2>
        <form id="forminvio" data-toggle="validator" method="POST" role="form">{% csrf_token %}
        <table id="tblRisultati" class="table">
            <thead>
                <tr>
                    <th>modifiche</th>
                    <th>id_lavoro</th>
                    <th>id_azienda</th>
                    <th>note_azienda</th>
                    <th>email_riferimento_azienda</th>
                    <th>email_riferimento_lavoro</th>
                    <th>citta_lavoro</th>
                    <th>lingua</th>
                    <th>campo_studi</th>
                    <th>esami</th>
                    <th>area_operativa</th>
                    <th>tipo_contratto</th>
                    <th>livello_cariera</th>
                    <th>distanza</th>
                    <th>note</th>
                    <th>data</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in result.items %}
                    <tr id="lavoro_{{ value.id }}">
                        <td><a type="submit" id="delete_lavoro" value="{{value.id}}" onclick="deleteLavoro({{ value.id }});" class="btn btn-primary">Elimina</a></td>
                        <td>{{ value.id }}</td>
                        <td>{{ value.id_azienda }}</td>
                        <td>{{ value.note_azienda }}</td>
                        <td>{{ value.email_riferimento_azienda }}</td>
                        <td>{{ value.email_riferimento_lavoro }}</td>
                        <td>{{ value.citta_lavoro }}</td>
                        <td>{{ value.lingua }}</td>
                        <td>{{ value.campo_studi }}</td>
                        <td>{{ value.esami }}</td>
                        <td>{{ value.area_operativa }}</td>
                        <td>{{ value.tipo_contratto }}</td>
                        <td>{{ value.livello_cariera }}</td>
                        <td>{{ value.distanza }}</td>
                        <td>{{ value.note }}</td>
                        <td>{{ value.data }}</td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endif %}
    {% if type == 0 %}
        <h2>Studenti</h2>
        <form id="forminvio" data-toggle="validator" method="POST" role="form">{% csrf_token %}

        <table id="tblRisultati" class="table">
            <thead>
                <tr>
                    <th>modifiche</th>
                    <!--37 piu uno id-->
                    <th>id_studente</th>
                    <th>cap</th>
                    <th>email</th>
                    <th>anno</th>
                    <th>citta</th>
                    <th>zona</th>
                    <th>grado_studi</th>
                    <th>voto</th>
                    <th>esami</th>
                    <th>campo_studi</th>
                    <th>livello_pc</th>
                    <th>lingua</th>
                    <th>conoscenza_specifica</th>
                    <th>stato</th>
                    <th>note</th>
                    <th>mansione_attuale</th>
                    <th>livello_cariera_attuale</th>
                    <th>ruolo_attuale</th>
                    <th>area_operativa_attuale</th>
                    <th>tipo_contratto_attuale</th>
                    <th>lavoro_passato</th>
                    <th>numero_attivita_svolte</th>
                    <th>mesi_attivita_svolte</th>
                    <th>descrizione_esperienza_pregressa</th>
                    <th>mansione_pregressa</th>
                    <th>livello_cariera_pregressa</th>
                    <th>ruolo_pregresso</th>
                    <th>area_operativa_pregressa</th>
                    <th>tipo_contratto_pregressa</th>
                    <th>mansione_futura</th>
                    <th>livello_cariera_futura</th>
                    <th>ruolo_futura</th>
                    <th>area_operativa_futura</th>
                    <th>tipo_contratto_futura</th>
                    <th>benefit</th>
                    <th>stipendio</th>
                    <th>interesse</th>
                    <th>possibilita_trasferirsi</th>
                    <th>data</th>
                </tr>
            </thead>
            <tbody>
                {% for key,value in result.items %}
                    <tr id="persona_{{ value.id }}">
                        <td><a type="submit" id="delete_persona" value="{{value.id}}" onclick="deleteStudente({{ value.id }});" class="btn btn-primary">Elimina</a></td>
                        <td>{{ value.id }}</td>
                        <td>{{ value.cap }}</td>
                        <td>{{ value.email }}</td>
                        <td>{{ value.anno }}</td>
                        <td>{{ value.citta }}</td>
                        <td>{{ value.zona }}</td>
                        <td>{{ value.grado_studi }}</td>
                        <td>{{ value.voto }}</td>
                        <td>{{ value.esami }}</td>
                        <td>{{ value.campo_studi }}</td>
                        <td>{{ value.livello_pc }}</td>
                        <td>{{ value.lingua }}</td>
                        <td>{{ value.conoscenza_specifica }}</td>
                        <td>{{ value.stato }}</td>
                        <td>{{ value.note }}</td>
                        <td>{{ value.mansione_attuale }}</td>
                        <td>{{ value.livello_cariera_attuale }}</td>
                        <td>{{ value.ruolo_attuale }}</td>
                        <td>{{ value.area_operativa_attuale }}</td>
                        <td>{{ value.tipo_contratto_attuale }}</td>
                        <td>{{ value.lavoro_passato }}</td>
                        <td>{{ value.numero_attivita_svolte }}</td>
                        <td>{{ value.mesi_attivita_svolte }}</td>
                        <td>{{ value.descrizione_esperienza_pregressa }}</td>
                        <td>{{ value.mansione_pregressa }}</td>
                        <td>{{ value.livello_cariera_pregressa }}</td>
                        <td>{{ value.ruolo_pregressa }}</td>
                        <td>{{ value.area_operativa_pregressa }}</td>
                        <td>{{ value.tipo_contratto_pregressa }}</td>
                        <td>{{ value.mansione_futura }}</td>
                        <td>{{ value.livello_cariera_futura }}</td>
                        <td>{{ value.ruolo_futura }}</td>
                        <td>{{ value.area_operativa_futura.id }}</td>
                        <td>{{ value.tipo_contratto_futura }}</td>
                        <td>{{ value.benefit }}</td>
                        <td>{{ value.stipendio }}</td>
                        <td>{{ value.interesse }}</td>
                        <td>{{ value.possibilita_trasferirsi }}</td>
                        <td>{{ value.data }}</td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endif %}



{% endblock %}

