{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Test Job{% endblock %}

{% block scripts %}
<script src="{% static 'star_rating/bootstrap-rating-master/bootstrap-rating.min.js'%}" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="{% static 'star_rating/bootstrap-rating-master/bootstrap-rating.css'%}" type="text/css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

{% endblock %}


{% block content %}

    <h2>Cosa Potrebbe piacerti tra questi Lavori?</h2>
    <form id="myForm" data-toggle="validator" action="." role="form" method="GET">
<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button id="btn_search" class="btn btn-default" type="submit">Cerca</button>
      </span>
        <input id="search_box" value="{{ search_query }}" name="search_box" type="text" class="form-control" placeholder="Caratteristica Lavoro...">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->
</form>


    <div class="pagination">
        <span class="step-links">
            {% if jobs.has_previous %}
                <a href="?page={{ jobs.previous_page_number }}&search_box={{ search_query }}">Indietro</a>
            {% endif %}

            <span class="current">
                pagina {{ jobs.number }} di {{ jobs.paginator.num_pages }}.
            </span>

            {% if jobs.has_next %}
                <a href="?page={{ jobs.next_page_number }}&search_box={{ search_query }}">Avanti</a>
            {% endif %}
        </span>
    </div>


    <div class="row">{% csrf_token %}

    {% for job in jobs %}
    {# Each "contact" is a Contact model object. #}
      <div class="col-sm-6 col-md-6">
        <div class="thumbnail" id="lavoro_{{ value.id }}">
            <div class="caption">

                  <ul>
                    <li>citta_lavoro: {{ job.citta_lavoro }}</li>
                    <li>lingua: {{ job.lingua }}</li>
                    <li>campo_studi: {{ job.campo_studi }}</li>
                    <li>esami: {{ job.esami }}</li>
                    <li>area_operativa: {{ job.area_operativa }}</li>
                    <li>tipo_contratto: {{ job.tipo_contratto }}</li>
                    <li>distanza: {{ job.distanza }}</li>
                </ul>
                {% if job.like == 1 %}
                    <a style="display: none;" id="like_{{ job.id }}" onclick="like({{ job.id }});" name="like_{{ job.id }}" href="#" class="btn btn-primary btn-primary pylike"><span class="glyphicon glyphicon-thumbs-up"></span> Mi Piace</a>
                    <a id="unlike_{{ job.id }}" onclick="unlike({{ job.id }});" name="unlike_{{ job.id }}" href="#" class="btn btn-primary btn-success pylike"><span class="glyphicon glyphicon-heart"></span> Ti Piace</a>
                {% else %}
                    <a id="like_{{ job.id }}" onclick="like({{ job.id }});" name="like_{{ job.id }}" href="#" class="btn btn-primary btn-primary pylike"><span class="glyphicon glyphicon-thumbs-up"></span> Mi Piace</a>
                    <a style="display: none;" id="unlike_{{ job.id }}" onclick="unlike({{ job.id }});" name="unlike_{{ job.id }}" href="#" class="btn btn-primary btn-success pylike"><span class="glyphicon glyphicon-heart"></span> Ti Piace</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    <div class="pagination">
        <span class="step-links">
            {% if jobs.has_previous %}
                <a href="?page={{ jobs.previous_page_number }}&search_box={{ search_query }}">Indietro</a>
            {% endif %}

            <span class="current">
                Pagina {{ jobs.number }} di {{ jobs.paginator.num_pages }}.
            </span>

            {% if jobs.has_next %}
                <a href="?page={{ jobs.next_page_number }}&search_box={{ search_query }}">Avanti</a>
            {% endif %}
        </span>
    </div>




{% endblock %}

{% block bottom %}
   <script>

   //impedisce di tornare nella testata della pagina
   $("a.pylike").click(function(event){
       event.preventDefault();
});


    function like(id){
        var newData = {
            csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
            like: id,
        };
        $.ajax({
          type: "POST",
          data: newData,
          success: function(data, textStatus, xhr) {
                console.log("success inviato like");
                console.log("xhr status success"+xhr.status);
                if (data) {
                    // data.redirect contains the string URL to redirect to
                    console.log("like ricevuto");
                    //window.location.href = "{% url 'index' %}";
                    $("#like_"+id).hide();
                    $("#unlike_"+id).show();
            }
            else {
                    // data.form contains the HTML for the replacement form
                    console.log("else redirect "+data);
                }
            },
            complete: function(xhr, textStatus) {
                 console.log("complete"+xhr.status);
            }
        });
        return false;
    }

    function unlike(id){
        var newData = {
            csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val(),
            unlike: id,
        };
        $.ajax({
          type: "POST",
          data: newData,
          success: function(data, textStatus, xhr) {
                console.log("success inviato like");
                console.log("xhr status success"+xhr.status);
                if (data) {
                    // data.redirect contains the string URL to redirect to
                    console.log("unlike ricevuto");
                    $("#like_"+id).show();
                    $("#unlike_"+id).hide();
            }
            else {
                    // data.form contains the HTML for the replacement form
                    console.log("else redirect "+data);
                }
            },
            complete: function(xhr, textStatus) {
                 console.log("complete"+xhr.status);
            }
        });
        return false;
    }
    </script>
{% endblock %}