{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Questionario Studenti{% endblock %}


{% block scripts %}


    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap-theme.min.css' %}">

        <link rel="stylesheet" href="{% static 'textext/src/css/textext.core.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.tags.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.autocomplete.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.focus.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.prompt.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.arrow.css'%}" type="text/css" />


        <script src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js'%}"></script>
		<script src="{% static 'textext/src/js/textext.core.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.tags.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.autocomplete.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.suggestions.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.filter.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.focus.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.prompt.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.ajax.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.arrow.js'%}" type="text/javascript" charset="utf-8"></script>

{% endblock %}


{% block topcontent %}
<div class="container">{% csrf_token %}

{% if error %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{ error }}
</div>
{% endif %}


<form id="forminvio" data-toggle="validator" method="POST" role="form">{% csrf_token %}


    <h2>Anagrafica</h2>

    {% if user %}
        <input type="hidden" name="id_survey" value="{{ copy.id }}" id="cap" class="form-control">
    {% endif %}

    <div class="form-group">
        <label for="cap">Cap:</label>
        <input type="text" name="cap" value="{{ copy.cap }}" id="cap" class="form-control">
		<span class="help-block">CAP della città di residenza (5 cifre)</span>
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" value="{{ copy.email }}" name="email" id="email" class="form-control">
		<span class="help-block">email per riferimento dello studente</span>
    </div>

    <div class="form-group">
        <label for="anno">Anno:</label>
        <input type="text" value="{{ copy.anno_nascita }}" name="anno" id="anno" class="form-control">
		<span class="help-block">anno di nascita dello studente</span>
    </div>

    <div class="form-group">
        <label for="citta">Citta':</label>
        <input type="text" value="{{ copy.citta }}" name="citta" id="citta" class="form-control">
		<span class="help-block">Nome città in cui si vive</span>
    </div>

    <div class="form-group">
        <label for="zona">Zona:</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="zona" id="zona" class="example" rows="1"></textarea>
        <span class="help-block">Riempire solo se si vive a Padova (es. portello, stanga, nord-est)</span>
    </div>

    <div class="form-group">
        <label>Grado Studi</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="grado_studi" id="grado_studi" class="example" rows="1"></textarea>
		<span class="help-block">Indicare livello di studi acquisito o che si sta per acquisire (es. laurea triennale)</span>
    </div>

    <div class="form-group">
        <label for="voto">Voto:</label>
        <input type="text" value="{{ copy.voto_finale }}"  name="voto" id="voto" class="form-control">
        <span class="help-block">Riferito al grado di studi acquisito o una stima di quello che si sta per acquisire</span>
    </div>

    <div class="form-group">
        <label for="esame_attuale">Esami passati considerati importanti</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="esame_attuale" id="esame_attuale" class="example" rows="1"></textarea>
    </div>

    <div class="form-group">
        <label for="campo_studi">Campo di Studi:</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="campo_studi" id="campo_studi" class="example" rows="1"></textarea>
        <span class="help-block">Informatica, Matematica, Lettere</span>
    </div>

    <div class="form-group">
        <label for="livello_pc">Livello conoscenza PC:</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="livello_pc" id="livello_pc" class="example" rows="1"></textarea>
		<span class="help-block">Inserire alto, basso, medio</span>
    </div>

	<!-- è sparito Campo di studi -->

    <div class="form-group">
        <label for="lingua">Lingua</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="lingua" id="lingua" class="example" rows="1"></textarea>
		<span class="help-block">Indicare quale lingue si conoscono (es. Italiano, Inglese)</span>
    </div>

	<!-- Qui servirebbe associare un livello del quadro europeo, se possibile -->

    <div class="form-group">
        <label for="conoscenza_specifica">Conoscenza specifica</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="conoscenza_specifica" id="conoscenza_specifica" class="example" rows="1"></textarea>
		<span class="help-block">Indicare ciò che si conosce nello specifico</span>
    </div>

    <div class="form-group">
        <label for="stato">Stato</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="stato" id="stato" class="example" rows="1"></textarea>
		<span class="help-block">Indicare stato lavorativo</span>
    </div>

    <div class="form-group">
        <label for="note">Note</label>
        <input type="text" value="{{ copy.note }}" name="note" id="note" class="form-control">
    </div>

    <hr>
    <h2>Lavoro Attuale</h2>
    <div class="form-group">
        <label for="mansione_attuale">Mansione Attuale</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="mansione_attuale" id="mansione_attuale" class="example" rows="1"></textarea>
		<span class="help-block">Quale lavoro si sta svolgendo? (es. programmatore, sistemista, tecnico)</span>
    </div>

    <div class="form-group">
        <label for="livello_cariera_attuale">Livello Cariera Attuale</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="livello_cariera_attuale" id="livello_cariera_attuale" class="example" rows="1"></textarea>
		<span class="help-block">Indicare il livello raggiunto (es. principiante, professionista, manager)</span>
    </div>

    <div class="form-group">
        <label for="ruolo_attuale">Ruolo Attuale</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);"  name="ruolo_attuale" id="ruolo_attuale" class="example" rows="1"></textarea>
		<span class="help-block">Indicare il ruolo che si copre nella propria mansione (es. consultion, human resource)</span>
    </div>

    <div class="form-group">
        <label for="area_operativa_attuale">Area Operativa Attuale</label>
        <textarea  style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="area_operativa_attuale" id="area_operativa_attuale" class="example" rows="1"></textarea>
		<span class="help-block">Indicare l'area operativa coperta dal proprio lavoro (es. sviluppo web, ia, database)</span>
    </div>

    <div class="form-group">
        <label for="tipo_contratto_attuale">Tipo Contratto Attuale</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="tipo_contratto_attuale" id="tipo_contratto_attuale" class="example" rows="1"></textarea>
		<span class="help-block">Indicare con quale tipo di contratto si lavora (es. part-time, tempo indeterminato)</span>
    </div>


    <hr>
    <h2>Lavoro Passato</h2>
    <div class="form-group">
        <label for="tipo_contratto_attuale">Esperienza pregressa</label>
        {% if copy.esperienze_pregresse %}
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="esperienza_pregressa_true" value="true" checked>Si
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="esperienza_pregressa_false" value="false" > No
            </label>
        </div>
        {% else %}
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="esperienza_pregressa_true" value="true" >Si
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="esperienza_pregressa_false" value="false" checked> No
            </label>
        </div>
        {% endif %}
    </div>
	<br />
	<hr />

    <div class="form-group">
        <label for="numero_attivita_svolte">Numero Attivita Svolte:</label>
        <input type="text" value="{{ copy.numero_attivita_svolte }}" name="numero_attivita_svolte" id="numero_attivita_svolte" class="form-control">
		<span class="help-block">Inserire il numero complessivo di attività svolte nel passato</span>
    </div>

    <div class="form-group">
        <label for="numero_mesi_attivita_svolte">Mesi Attivita Svolte:</label>
        <input type="text" value="{{ copy.numero_mesi_attivita_svolte }}" name="numero_mesi_attivita_svolte" id="numero_mesi_attivita_svolte" class="form-control">
		<span class="help-block">Inserire il numero complessivo di mesi lavorativi di tutte le attività svolte nel passato</span>
    </div>

    <div class="form-group">
        <label for="desc_esperienze_pregresse">descrizione Esperienze Pregresse:</label>
        <input type="text" value="{{ copy.desc_esperienze_pregresse }}" name="desc_esperienze_pregresso" id="desc_esperienze_pregresso" class="form-control">
		<span class="help-block">Inserire alcune parole per descrivere le attività svolte in passato</span>
    </div>

    <div class="form-group">
        <label for="mansione_attuale">Mansione Pregressa</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="mansione_pregresso" id="mansione_pregresso" class="example" rows="1"></textarea>
		<span class="help-block">Inserire le mansioni effettuate nelle attività passate (es. programmatore, sistemista, tecnico)</span>
    </div>

    <div class="form-group">
        <label for="livello_cariera_attuale">Livello Cariera Pregressa</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="livello_cariera_pregresso" id="livello_cariera_pregresso" class="example" rows="1"></textarea>
		<span class="help-block">Inserire i livelli di carriera di tutte le attività passate (es. principiante, professionista, manager)</span>
    </div>

    <div class="form-group">
        <label for="ruolo_attuale">Ruolo Pregressa</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);"  name="ruolo_pregresso" id="ruolo_pregresso" class="example" rows="1"></textarea>
		<span class="help-block">Inserire i ruoli ricoperti nelle attività passate (es. consultion, human resource)</span>
    </div>

    <div class="form-group">
        <label for="area_operativa_attuale" >Area Operativa Pregressa</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="area_operativa_pregresso" id="area_operativa_pregresso" class="example" rows="1"></textarea>
		<span class="help-block">Inserire le aree operative delle attività passate (es. sviluppo web, ia, database)</span>
    </div>

    <div class="form-group">
        <label for="tipo_contratto_attuale">Tipo Contratto Pregressa</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="tipo_contratto_pregresso" id="tipo_contratto_pregresso" class="example" rows="1"></textarea>
		<span class="help-block">Inserire le tipologie di contratto delle attività passate (es. part-time, tempo indeterminato)</span>
    </div>


    <hr>
    <h2>Lavoro Futuro</h2>

    <div class="form-group">
        <label for="mansione_attuale">Mansione Futura</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="mansione_futuro" id="mansione_futuro" class="example" rows="1"></textarea>
		<span class="help-block">Inserire la mansione che si vorrebbe ricoprire in futuri lavori (es. programmatore, sistemista, tecnico)</span>
    </div>

    <div class="form-group">
        <label for="livello_cariera_attuale">Livello Cariera Futura</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="livello_cariera_futuro" id="livello_cariera_futuro" class="example" rows="1"></textarea>
		<span class="help-block">Inserire il livello di carriera che si vorrebbe avere in futuri lavori (es. principiante, professionista, manager)</span>
    </div>

    <div class="form-group">
        <label for="ruolo_attuale">Ruolo Futuro</label>
        <textarea  style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="ruolo_futuro" id="ruolo_futuro" class="example" rows="1"></textarea>
		<span class="help-block">Inserire il ruolo che si vorrebbe ricoprire in futuri lavori (es. consultion, human resource)</span>
    </div>

    <div class="form-group">
        <label for="area_operativa_attuale" >Area Operativa Futuro</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="area_operativa_futuro" id="area_operativa_futuro" class="example" rows="1"></textarea>
		<span class="help-block">Inserire le aree operative in cui si vorrebbe operare in futuri lavori (es. sviluppo web, ia, database)</span>
    </div>

    <div class="form-group">
        <label for="tipo_contratto_attuale">Tipo Contratto Futuro</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="tipo_contratto_futuro" id="tipo_contratto_futuro" class="example" rows="1"></textarea>
		<span class="help-block">Inserire la tipologia di contratto che si vorrebbe avere in futuri lavori (es. part-time, tempo indeterminato)</span>
    </div>

    <div class="form-group">
        <label for="benefit">Benefit Futuro</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="benefit_futuro" id="benefit_futuro" class="example" rows="1"></textarea>
		<span class="help-block">Inserire elementi in aggiunta allo stipendio ricevuto (es."rimborso spese", "mensa")</span>
    </div>


    <div class="form-group">
        <label for="interesse_futuro">Interesse Futuro</label>
        <textarea style="width: 270px; height: 30px; box-shadow: inset 0 1px 1px rgba(0,0,0,.075);" name="interesse_futuro" id="interesse_futuro" class="example" rows="1"></textarea>
		<span class="help-block"></span>
    </div>

    <div class="form-group">
        <label for="stipendio_futuro">Stipendio Futuro:</label>
        <input type="text" value="{{ copy.stipendio_futuro }}" name="stipendio_futuro" id="stipendio_futuro" class="form-control">
        <span class="help-block">Una stima sullo stipendio netto al mese</span>
    </div>

    <div class="form-group">
        <label for="possibilita_trasferirsi">Possibilita' trasfersi</label>
        {% if copy.possibilita_trasferirsi %}
        <div class="radio">
            <label>
                <input type="radio" name="possibilita_trasferirsi_option" id="possibilita_trasferirsi" value="true" checked>Si
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="possibilita_trasferirsi_option" id="possibilita_trasferirsi" value="false"> No
            </label>
        </div>
        {% else %}
                <div class="radio">
            <label>
                <input type="radio" name="possibilita_trasferirsi_option" id="possibilita_trasferirsi" value="true" >Si
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="possibilita_trasferirsi_option" id="possibilita_trasferirsi" value="false" checked> No
            </label>
        </div>
        {% endif %}

    </div>
    <div class="form-group">
        <button type="submit" id="conf" onclick="return confirm('Questionario completato. Sei sicuro?')" class="btn btn-primary">Invia</button>
    </div>
</form>
</div>



<script type="text/javascript">

{% comment "tagCopy contiene parti precompilate serve per modifcare sondaggi gia fatti" %}{% endcomment %}
{% comment "list invece contiene possibili campi per l'auto completamento contiene parti precompilate" %}{% endcomment %}

//esempio precompilato
//tagsItems : [ 'Basic', 'JavaScript', 'PHP', 'Scala' ],

    var tagCopy=['{{copy.zona}}'];

    $('#zona')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in zona %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=['{{copy.livello_pc}}'];

    $('#livello_pc')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in livello_pc %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=['{{copy.grado_studi}}'];

    $('#grado_studi')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in grado_studi %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.campo_studi %}
            '{{a.campo_studi.valore}}',
        {% endfor %}
    ];
    $('#campo_studi')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in campo_studi %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.stato %}
            '{{a.stato.valore}}',
        {% endfor %}
    ];
    $('#stato')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in stato %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.lingua %}
            '{{a.lingua.valore}}',
        {% endfor %}
    ];
    $('#lingua')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in lingua %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.conoscenza_specifica %}
            '{{a.conoscenza_specifica.valore}}',
        {% endfor %}
    ];
    $('#conoscenza_specifica')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in conoscenza_specifica %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.esame %}
            '{{a.esame.valore}}',
        {% endfor %}
    ];
    $('#esame_attuale')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in esame %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );


    tagCopy=[
        {% for a in copy.mansione_attuale %}
            '{{a.mansione.valore}}',
        {% endfor %}
    ];
    $('#mansione_attuale')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in mansione %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );


    tagCopy=[
        {% for a in copy.livello_cariera_attuale %}
            '{{a.livello_cariera.valore}}',
        {% endfor %}
    ];
    $('#livello_cariera_attuale')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in livello_cariera %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.ruolo_attuale %}
            '{{a.ruolo.valore}}',
        {% endfor %}
    ];
    $('#ruolo_attuale')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in ruolo %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.area_operativa_attuale %}
            '{{a.area_operativa.valore}}',
        {% endfor %}
    ];
    $('#area_operativa_attuale')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in area_operativa %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.tipo_contratto_attuale %}
            '{{a.tipo_contratto.valore}}',
        {% endfor %}
    ];
    $('#tipo_contratto_attuale')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in tipo_contratto %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );
//passato----------------------------------------------------------------------------------------------

    tagCopy=[
        {% for a in copy.mansione_pregressa %}
            '{{a.mansione.valore}}',
        {% endfor %}
    ];
     $('#mansione_pregresso')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in mansione %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.livello_cariera_pregressa %}
            '{{a.livello_cariera.valore}}',
        {% endfor %}
    ];
    $('#livello_cariera_pregresso')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in livello_cariera %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.ruolo_pregressa %}
            '{{a.ruolo.valore}}',
        {% endfor %}
    ];
    $('#ruolo_pregresso')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in ruolo %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.area_operativa_pregressa %}
            '{{a.area_operativa.valore}}',
        {% endfor %}
    ];
    $('#area_operativa_pregresso')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in area_operativa %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.tipo_contratto_pregressa %}
            '{{a.tipo_contratto.valore}}',
        {% endfor %}
    ];
    $('#tipo_contratto_pregresso')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in tipo_contratto %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

//futuro----------------------------------------------------------------------------------------------------------

    tagCopy=[
        {% for a in copy.mansione_futura %}
            '{{a.mansione.valore}}',
        {% endfor %}
    ];
    $('#mansione_futuro')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in mansione %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.livello_cariera_futura %}
            '{{a.livello_cariera.valore}}',
        {% endfor %}
    ];
    $('#livello_cariera_futuro')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in livello_cariera %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.ruolo_futura %}
            '{{a.ruolo.valore}}',
        {% endfor %}
    ];
    $('#ruolo_futuro')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in ruolo %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );


    tagCopy=[
        {% for a in copy.area_operativa_futura %}
            '{{a.area_operativa.valore}}',
        {% endfor %}
    ];
    $('#area_operativa_futuro')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in area_operativa %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.tipo_contratto_futura %}
            '{{a.tipo_contratto.valore}}',
        {% endfor %}
    ];
    $('#tipo_contratto_futuro')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in tipo_contratto %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );


    tagCopy=[
        {% for a in copy.benefit_futuro %}
            '{{a.benefit.valore}}',
        {% endfor %}
    ];
    $('#benefit_futuro')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in benefit %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    tagCopy=[
        {% for a in copy.interesse_futura %}
            '{{a.interesse.valore}}',
        {% endfor %}
    ];
    $('#interesse_futuro')
        .textext({
            tagsItems : tagCopy,
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in interesse %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

</script>
{% endblock %}