{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Questionario Studenti{% endblock %}


{% block scripts %}


    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">


    <link rel="stylesheet" href="{% static 'bootstrap-tagsinput/vendor/css/vendor.css'%}" />

    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    <script src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script src="{% static 'bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/generic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.js"></script>

    <script src="{% static 'jquery-textext/src/js/textext.core.js'%}"></script>



<script src="{% static 'bootstrap-tagsinput/vendor/js/vendor.js'%}"></script>





    <script type="application/javascript">

        function read(){
            var read=$("input").val();
            console.log(read);

            $('input, select').each(
                 function(index){
                    var input = $(this);
                    console.log('Type: ' + input.attr('type') + 'Name: ' + input.attr('name') + 'Value: ' + input.val());
                 }
            );


            $('input').tagsinput({
                tagClass: 'prova'
            });
            console.log("Classssssse.......................")
            $('.prova').each(
                 function(index){
                    var input = $(this);
                    console.log('Type: ' + input.attr('type') + 'Name: ' + input.attr('name') + 'Value: ' + input.val());
                 }
            );
        }

    </script>

{% endblock %}


{% block topcontent %}
<div class="container">{% csrf_token %}

<p>nuovo</p>
<textarea id="textarea" class="example" rows="1"></textarea>


<p>Esempio</p>
<select multiple data-role="tagsinput">
  <option value="Amsterdam">Amsterdam</option>
  <option value="Washington">Washington</option>
  <option value="Sydney">Sydney</option>
  <option value="Beijing">Beijing</option>
  <option value="Cairo">Cairo</option>
</select>

<form id="forminvio" data-toggle="validator" method="POST" role="form">{% csrf_token %}

    <p>Zona</p>
    <select form="forminvio" multiple data-role="tagsinput">
        {% for z in zona %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Livello PC</p>
    <select id="livello_pc" multiple data-role="tagsinput">
        {% for z in livello_pc %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Grado Studi</p>
    <select multiple data-role="tagsinput">
        {% for z in grado_studi %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Stato</p>
    <select multiple data-role="tagsinput">
        {% for z in stato %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Lingua</p>
    <select multiple data-role="tagsinput">
        {% for z in lingua %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Conoscenza specifica</p>
    <select multiple data-role="tagsinput">
        {% for z in conoscenza_specifica %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Mansione</p>
    <select multiple data-role="tagsinput">
        {% for z in mansione %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Livello Cariera</p>
    <select multiple data-role="tagsinput">
        {% for z in livello_cariera %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Ruolo</p>
    <select multiple data-role="tagsinput">
        {% for z in ruolo %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Area Operativa</p>
    <select multiple data-role="tagsinput">
        {% for z in area_operativa %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Tipo Contratto</p>
    <select multiple data-role="tagsinput">
        {% for z in tipo_contratto %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Benefit</p>
    <select multiple data-role="tagsinput">
        {% for z in benefit %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <p>Interesse</p>
    <select multiple data-role="tagsinput">
        {% for z in interesse %}
            <option value="{{ z.valore }}">{{ z.id }}</option>
        {% endfor %}
    </select>

    <div class="form-group">
        <button type="submit" onclick="read();" id="confirma_aggiornamento" class="btn btn-primary">Invia</button>
    </div>
</form>
</div>


    <script type="text/javascript">
    $('#textarea')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
                    'Basic',
                    'Closure',
                    'Cobol',
                    'Delphi',
                    'Erlang',
                    'Fortran',
                    'Go',
                    'Groovy',
                    'Haskel',
                    'Java',
                    'JavaScript',
                    'OCAML',
                    'PHP',
                    'Perl',
                    'Python',
                    'Ruby',
                    'Scala'
                ],
                textext = $(e.target).textext()[0],
                query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        })
        ;
</script>
{% endblock %}