{% extends "base_generic.html" %}
{% load staticfiles %}

{% block title %}Questionario Studenti{% endblock %}


{% block scripts %}


    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap-theme.min.css' %}">

        <link rel="stylesheet" href="{% static 'textext/src/css/textext.core.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.tags.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.autocomplete.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.focus.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.prompt.css'%}" type="text/css" />
		<link rel="stylesheet" href="{% static 'textext/src/css/textext.plugin.arrow.css'%}" type="text/css" />


        <script src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js'%}"></script>
		<script src="{% static 'textext/src/js/textext.core.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.tags.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.autocomplete.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.suggestions.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.filter.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.focus.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.prompt.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.ajax.js'%}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'textext/src/js/textext.plugin.arrow.js'%}" type="text/javascript" charset="utf-8"></script>

{% endblock %}


{% block topcontent %}
<div class="container">{% csrf_token %}

<p>nuovo</p>
<textarea id="textarea" class="example" rows="1"></textarea>


<form id="forminvio" data-toggle="validator" method="POST" role="form">{% csrf_token %}

    <div class="form-group">
        <label for="zona">Zona:</label>
        <textarea with="400px" name="zona" id="zona" class="example" rows="1"></textarea>
    </div>

    <div class="form-group">
        <label for="livello_pc">Livello PC:</label>
        <textarea  name="livello_pc" id="livello_pc" class="example" rows="1"></textarea>
    </div>

    <p>Grado Studi</p>
    <textarea name="grado_studi" id="grado_studi" class="example" rows="1"></textarea>


    <p>Stato</p>
    <textarea name="stao" id="stato" class="example" rows="1"></textarea>


    <p>Lingua</p>
    <textarea name="lingua" id="lingua" class="example" rows="1"></textarea>


    <p>Conoscenza specifica</p>
    <textarea name="conoscenza_specifica" id="conoscenza_specifica" class="example" rows="1"></textarea>


    <p>Mansione</p>
    <textarea name="mansione" id="mansione" class="example" rows="1"></textarea>


    <p>Livello Cariera</p>
    <textarea name="livello_cariera" id="livello_cariera" class="example" rows="1"></textarea>


    <p>Ruolo</p>
    <textarea  name="ruolo" id="ruolo" class="example" rows="1"></textarea>


    <p>Area Operativa</p>
    <textarea name="area_operativa" id="area_operativa" class="example" rows="1"></textarea>


    <p>Tipo Contratto</p>
    <textarea name="tipo_contratto" id="tipo_contratto" class="example" rows="1"></textarea>


    <p>Benefit</p>
    <textarea  name="benefit" id="benefit" class="example" rows="1"></textarea>


    <p>Interesse</p>
    <textarea name="interesse" id="interesse" class="example" rows="1"></textarea>


    <div class="form-group">
        <button type="submit" id="conf" class="btn btn-primary">Invia</button>
    </div>
</form>
</div>

<script type="text/javascript">
    $('#textarea')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
                    'Basic',
                    'Closure',
                    'Cobol',
                    'Delphi',
                    'Erlang',
                    'Fortran',
                    'Go',
                    'Groovy',
                    'Haskel',
                    'Java',
                    'JavaScript',
                    'OCAML',
                    'PHP',
                    'Perl',
                    'Python',
                    'Ruby',
                    'Scala'
                ],
                textext = $(e.target).textext()[0],
                query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        })
        ;



    $('#zona')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in zona %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

        $('#livello_pc')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in livello_pc %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    $('#grado_studi')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in grado_studi %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    $('#stato')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in stato %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    $('#lingua')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in lingua %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    $('#conoscenza_specifica')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in conoscenza_specifica %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );
        $('#mansione')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in mansione %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );
        $('#livello_cariera')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in livello_cariera %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );
    $('#ruolo')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in ruolo %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    $('#area_operativa')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in area_operativa %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    $('#tipo_contratto')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in tipo_contratto %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    $('#benefit')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in benefit %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

    $('#interesse')
        .textext({
            plugins : 'tags autocomplete'
        })
        .bind('getSuggestions', function(e, data)
        {
            var list = [
            {% for z in interesse %}
                '{{z.valore}}',
            {% endfor %}
            ],
            textext = $(e.target).textext()[0],
            query = (data ? data.query : '') || ''
                ;

            $(this).trigger(
                'setSuggestions',
                { result : textext.itemManager().filter(list, query) }
            );
        }
    );

</script>
{% endblock %}